.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr / 1fr;
  grid-template-areas: 'header' 'main' 'footer';
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
